<h1>Tasks for project</h1>

<a th:href="@{/projekter}">Back to projects</a> |
<a th:href="@{/projekter/{id}/calc(id=${projectId})}">
    View calculations
</a>

<hr>

<form th:action="@{/opgaver/{id}/opret(id=${projectId})}" method="post">
    <input type="hidden" name="projectId" th:value="${projectId}" />

    Name: <input type="text" name="name"><br>
    Description: <input type="text" name="description"><br>
    Estimated hours: <input type="number" name="estimatedHours"><br>
    Deadline: <input type="date" name="deadline"><br>

    <button type="submit">Save</button>
</form>

<hr>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Hours</th>
        <th>Deadline</th>
        <th>Delete</th>
    </tr>

    <tr th:each="o : ${opgaver}">
        <td th:text="${o.opgaveId}"></td>
        <td th:text="${o.name}"></td>
        <td th:text="${o.estimatedHours}"></td>
        <td th:text="${o.deadline}"></td>
        <td>
            <a th:href="@{/opgaver/slet/{oid}/{pid}
                (oid=${o.opgaveId}, pid=${projectId})}">
                X
            </a>
        </td>
    </tr>
</table>
