<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>

<form th:action="@{/opgaver/{id}/opret(id=${delProjektId})}" method="post">
    <input type="hidden" name="delProjektId" th:value="${delProjektId}" />

    Name: <input name="name"><br>
    Description: <input name="description"><br>
    Estimated hours: <input type="number" name="estimatedHours"><br>
    Deadline: <input type="date" name="deadline"><br>

    <button>Save</button>
</form>

<hr>

<table border="1">
    <tr>
        <th>ID</th><th>Name</th><th>Hours</th><th>Deadline</th>
    </tr>
    <tr th:each="o : ${opgaver}">
        <td th:text="${o.opgaveId}"></td>
        <td th:text="${o.name}"></td>
        <td th:text="${o.estimatedHours}"></td>
        <td th:text="${o.deadline}"></td>
    </tr>
</table>


</body>
</html>
